In [1]:
import numpy as np
import pandas as pd
import re

In [6]:
years = [i for i in range(1975, 2020)]
condition = ''
for i in years:
    condition = condition + str(i) + '|'

In [7]:
data = []
breakout_groups = []
years = []
to_match = '[a-z]'

with open(r"data-capstone/taba-3.csv") as f:
    for lines in f:
        if re.findall(to_match, lines):
            breakout_groups.append(lines.replace(',,', '').replace('\n', ''))
        if re.findall('[1-9],[1-9]', lines):
            data.append(lines.replace(',,', '').replace('\n', ''))

breakout_groups = breakout_groups[0:45]

In [8]:
to_split = breakout_groups[3].split(',')
column_level1 = []
for i in range(3, len(to_split)):
    column_level1.append(to_split[i])
    column_level1.append(to_split[i])
    column_level1.append(to_split[i])
column_level1

['Total',
 'Total',
 'Total',
 'Not a high school graduate',
 'Not a high school graduate',
 'Not a high school graduate',
 'High school graduate',
 'High school graduate',
 'High school graduate',
 "Some college/associate's degree",
 "Some college/associate's degree",
 "Some college/associate's degree",
 "Bachelor's degree",
 "Bachelor's degree",
 "Bachelor's degree",
 'Advanced degree',
 'Advanced degree',
 'Advanced degree']

In [9]:
column_level2 = []
to_split = breakout_groups[4].split(',')
to_split.remove('')
for items in to_split:
    column_level2.append(items)
column_level2

['Mean',
 'Number with earnings',
 'Standard error',
 'Mean',
 'Number with earnings',
 'Standard error',
 'Mean',
 'Number with earnings',
 'Standard error',
 'Mean',
 'Number with earnings',
 'Standard error',
 'Mean',
 'Number with earnings',
 'Standard error',
 'Mean',
 'Number with earnings',
 'Standard error']

In [10]:
# We need to pull the years out of the unclean data
years = [i for i in range(1975, 2020)]
condition = ''
for i in years:
    condition = condition + str(i) + '|'

In [11]:
raw_data = []
inner_index = []
for i in range(0, len(data)):
    to_clean = []
    year = []
    to_filter = re.findall('"[^"]*"|,[0-9][0-9][0-9]', data[i])
    year.append(re.findall(condition, data[i])[0])
    for items in to_filter:
        to_clean.append(items.replace(',', '').replace('\"', ''))
    raw_data.append(to_clean)
    inner_index.append(year[0])

In [12]:
middle_index = []
outer_index = []

i, j, l = 1, 1, 0
for k in range(0, len(inner_index)):
    try:
        if inner_index[k + 1] != '2019':
            middle_index.append(breakout_groups[(4 * i) + 1 + j].replace(',', ''))
            outer_index.append(breakout_groups[(4 * i) + 1])
        else:
            middle_index.append(breakout_groups[(4 * i) + 1 + j].replace(',', ''))
            outer_index.append(breakout_groups[(4 * i) + 1])
            l = (1 + l) % 3
            j = (1 + j) % 4
            if l == 0:
                i += 1
            if j == 0:
                j += 1
                
    except:
        middle_index.append(breakout_groups[(4 * i) + 1 + j].replace(',', ''))
        outer_index.append(breakout_groups[(4 * i) + 1])
        pass

In [13]:
column_arrays = [np.array(column_level1), np.array(column_level2)]
index_arrays = [np.array(outer_index), np.array(middle_index), np.array(inner_index)]

In [14]:
column_level1

['Total',
 'Total',
 'Total',
 'Not a high school graduate',
 'Not a high school graduate',
 'Not a high school graduate',
 'High school graduate',
 'High school graduate',
 'High school graduate',
 "Some college/associate's degree",
 "Some college/associate's degree",
 "Some college/associate's degree",
 "Bachelor's degree",
 "Bachelor's degree",
 "Bachelor's degree",
 'Advanced degree',
 'Advanced degree',
 'Advanced degree']

In [16]:
df = pd.DataFrame(values, index=index_arrays, columns=column_arrays)
df = df.astype(float)
df.loc[:, :, [str(i) for i in range(2000, 2020)]]

                                                 Total                       \
                                                  Mean Number with earnings
Total                         Both Sexes 2000  34514.0             147966.0
                              Male       2000  42772.0              78319.0
                              Female     2000  25228.0              69647.0
White                         Both Sexes 2000  35527.0             123039.0
                              Male       2000  44181.0              66222.0
...                                                ...                  ...
Black alone or in combination Male       2019  50103.0              10469.0
                              Female     2019  43173.0              11896.0
Asian alone or in combination Both Sexes 2019  73685.0              11705.0
                              Male       2019  83815.0               6086.0
                              Female     2019  62710.0               5618.0

                                                              \
                                              Standard error
Total                         Both Sexes 2000          148.0
                              Male       2000          250.0
                              Female     2000          131.0
White                         Both Sexes 2000          169.0
                              Male       2000          282.0
...                                                      ...
Black alone or in combination Male       2019         1083.0
                              Female     2019          849.0
Asian alone or in combination Both Sexes 2019         1392.0
                              Male       2019         1977.0
                              Female     2019         1921.0

                                              Not a high school graduate  \
                                                                    Mean
Total                         Both Sexes 2000                    17738.0
                              Male       2000                    21007.0
                              Female     2000                    12739.0
White                         Both Sexes 2000                    18285.0
                              Male       2000                    21561.0
...                                                                  ...
Black alone or in combination Male       2019                    33728.0
                              Female     2019                    24253.0
Asian alone or in combination Both Sexes 2019                    31329.0
                              Male       2019                    34418.0
                              Female     2019                    27651.0

                                                                    \
                                              Number with earnings
Total                         Both Sexes 2000              17425.0
                              Male       2000              10535.0
                              Female     2000               6890.0
White                         Both Sexes 2000              14172.0
                              Male       2000               8859.0
...                                                            ...
Black alone or in combination Male       2019                778.0
                              Female     2019                676.0
Asian alone or in combination Both Sexes 2019                627.0
                              Male       2019                341.0
                              Female     2019                286.0

                                                              \
                                              Standard error
Total                         Both Sexes 2000          269.0
                              Male       2000          372.0
                              Female     2000          360.0
White                         Both Sexes 2000          322.0
                              Male       2000          431.0
...                                                      ...
Black alone or in combination Male       2019         3556.0
                              Female     2019         2868.0
Asian alone or in combination Both Sexes 2019         2256.0
                              Male       2019         2577.0
                              Female     2019         3837.0

                                              High school graduate  \
                                                              Mean
Total                         Both Sexes 2000              25692.0
                              Male       2000              31446.0
                              Female     2000              19162.0
White                         Both Sexes 2000              26444.0
                              Male       2000              32528.0
...                                                            ...
Black alone or in combination Male       2019              36641.0
                              Female     2019              29387.0
Asian alone or in combination Both Sexes 2019              37394.0
                              Male       2019              43570.0
                              Female     2019              30229.0

                                                                    \
                                              Number with earnings
Total                         Both Sexes 2000              45977.0
                              Male       2000              24439.0
                              Female     2000              21538.0
White                         Both Sexes 2000              38133.0
                              Male       2000              20553.0
...                                                            ...
Black alone or in combination Male       2019               3681.0
                              Female     2019               3202.0
Asian alone or in combination Both Sexes 2019               1735.0
                              Male       2019                931.0
                              Female     2019                803.0

                                                              \
                                              Standard error
Total                         Both Sexes 2000          142.0
                              Male       2000          223.0
                              Female     2000          152.0
White                         Both Sexes 2000          162.0
                              Male       2000          253.0
...                                                      ...
Black alone or in combination Male       2019          998.0
                              Female     2019         1302.0
Asian alone or in combination Both Sexes 2019         1442.0
                              Male       2019         2127.0
                              Female     2019         1807.0

                                              Some college/associate's degree  \
                                                                         Mean
Total                         Both Sexes 2000                         29939.0
                              Male       2000                         37372.0
                              Female     2000                         22779.0
White                         Both Sexes 2000                         30638.0
                              Male       2000                         38476.0
...                                                                       ...
Black alone or in combination Male       2019                         42712.0
                              Female     2019                         34093.0
Asian alone or in combination Both Sexes 2019                         40969.0
                              Male       2019                         46576.0
                              Female     2019                         35173.0

                                                                    \
                                              Number with earnings
Total                         Both Sexes 2000              43874.0
                              Male       2000              21526.0
                              Female     2000              22348.0
White                         Both Sexes 2000              36334.0
                              Male       2000              18179.0
...                                                            ...
Black alone or in combination Male       2019               3200.0
                              Female     2019               3961.0
Asian alone or in combination Both Sexes 2019               1941.0
                              Male       2019                986.0
                              Female     2019                954.0

                                                              \
                                              Standard error
Total                         Both Sexes 2000          194.0
                              Male       2000          349.0
                              Female     2000          161.0
White                         Both Sexes 2000          224.0
                              Male       2000          398.0
...                                                      ...
Black alone or in combination Male       2019         1125.0
                              Female     2019          726.0
Asian alone or in combination Both Sexes 2019         1580.0
                              Male       2019         2355.0
                              Female     2019         2044.0

                                              Bachelor's degree  \
                                                           Mean
Total                         Both Sexes 2000           49595.0
                              Male       2000           62609.0
                              Female     2000           35328.0
White                         Both Sexes 2000           50969.0
                              Male       2000           64831.0
...                                                         ...
Black alone or in combination Male       2019           67176.0
                              Female     2019           56510.0
Asian alone or in combination Both Sexes 2019           75118.0
                              Male       2019           85918.0
                              Female     2019           64859.0

                                                                    \
                                              Number with earnings
Total                         Both Sexes 2000              27488.0
                              Male       2000              14375.0
                              Female     2000              13113.0
White                         Both Sexes 2000              23110.0
                              Male       2000              12271.0
...                                                            ...
Black alone or in combination Male       2019               1998.0
                              Female     2019               2525.0
Asian alone or in combination Both Sexes 2019               4128.0
                              Male       2019               2011.0
                              Female     2019               2117.0

                                                             Advanced degree  \
                                              Standard error            Mean
Total                         Both Sexes 2000          451.0         71194.0
                              Male       2000          779.0         88077.0
                              Female     2000          357.0         49368.0
White                         Both Sexes 2000          517.0         71983.0
                              Male       2000          880.0         89812.0
...                                                      ...             ...
Black alone or in combination Male       2019         2974.0        114049.0
                              Female     2019         2364.0         81864.0
Asian alone or in combination Both Sexes 2019         2108.0        118641.0
                              Male       2019         2841.0        131655.0
                              Female     2019         3049.0        102424.0

                                                                    \
                                              Number with earnings
Total                         Both Sexes 2000              13200.0
                              Male       2000               7442.0
                              Female     2000               5757.0
White                         Both Sexes 2000              11288.0
                              Male       2000               6359.0
...                                                            ...
Black alone or in combination Male       2019                810.0
                              Female     2019               1530.0
Asian alone or in combination Both Sexes 2019               3273.0
                              Male       2019               1815.0
                              Female     2019               1457.0


                                              Standard error
Total                         Both Sexes 2000          924.0
                              Male       2000         1468.0
                              Female     2000          842.0
White                         Both Sexes 2000         1006.0
                              Male       2000         1617.0
...                                                      ...
Black alone or in combination Male       2019         8358.0
                              Female     2019         3357.0
Asian alone or in combination Both Sexes 2019         3632.0
                              Male       2019         4990.0
                              Female     2019         5174.0

[570 rows x 18 columns]

In [17]:
df.to_csv('clean-csv/taba-3.csv')
df.to_pickle('clean-pickle/taba-3.csv')